<!DOCTYPE html>
<html data-ng-app="EntityFirstApp">
<head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>
    <title data-ng-bind="title">Kenari Book Rental</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <script>
        // Must be first. IE10 mobile viewport fix
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    <link href="content/ie10mobile.css" rel="stylesheet" />
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/font-awesome.min.css" rel="stylesheet" />
    <link href="content/toastr.css" rel="stylesheet" />
    <link href="content/customtheme.css" rel="stylesheet">
    <link href="content/styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div data-ng-include="'/scripts/app/views/shell.html'"></div>
        <div id="splash-page" data-ng-show="false">
            <div class="page-splash">
                <div class="page-splash-message">
                    Kenary CD/DVD Rental
                </div>
                <div class="progress progress-striped active page-progress-bar">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody();
    <span data-cc-scroll-to-top></span>
    <!-- Vendor Scripts -->
    <script src="scripts/jquery-2.1.1.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/toastr.js"></script>
    <script src="scripts/moment.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="scripts/spin.js"></script>
    <script src="scripts/ng-table.min.js"></script>

    <!-- Bootstrapping -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/config.js"></script>
    <script src="scripts/app/commonModule.js"></script>

    <!-- common Modules -->
    <script src="scripts/app/services/common.js"></script>
    <script src="scripts/app/services/logger.js"></script>
    <script src="scripts/app/services/spinner.js"></script>
    <script src="scripts/app/services/dataContext.js"></script>


    <!-- common.bootstrap Modules -->
    <script src="scripts/bootstrap/bootstrapModule.js"></script>
    <script src="scripts/bootstrap/services/bootstrapDialog.js"></script>

    <!-- app -->
    <script src="scripts/app/controllers/admin.js"></script>
    <script src="scripts/app/controllers/dashboard.js"></script>
    <script src="scripts/app/controllers/shell.js"></script>
    <script src="scripts/app/controllers/sidebar.js"></script>
    <script src="scripts/app/controllers/sidebarAccordionController.js"></script>

    <!-- app Services -->
    <script src="scripts/app/directives/directive.js"></script>
    <script src="scripts/app/commonEnum.js"></script>

    <!--user module-->
    <script src="scripts/user/userModule.js"></script>
    <script src="scripts/user/controllers/editUserController.js"></script>
    <script src="scripts/user/controllers/showUserController.js"></script>
    <script src="scripts/user/services/userService.js"></script>

    <!--rent module-->
    <script src="scripts/rent/rentModule.js"></script>
    <script src="scripts/rent/controllers/showRentController.js"></script>
    <script src="scripts/rent/services/rentService.js"></script>

    <!--video module-->
    <script src="scripts/video/videoModule.js"></script>
    <script src="scripts/video/controllers/editVideoController.js"></script>
    <script src="scripts/video/controllers/showVideoController.js"></script>
    <script src="scripts/video/services/videoService.js"></script>
   
</body>
</html>