<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="Video"></div>
                    <div class="widget-content user">

                        <table ng-table="vm.videosTable" class="table table-striped" show-filter="true">
                            <tr ng-repeat="video in $data">
                                <td data-title="'Id'" filter="{ Id: 'number'}">
                                    {{video.Id}}
                                </td>
                                

                                <td data-title="'Title'" filter="{ Title: 'text'}">
                                   {{video.Title}}
                                </td>
                                <td data-title="'Genre'" filter="{ Genre: 'text'}">
                                    {{video.Genre}}
                                </td>
                                <td data-title="'Rent Price'" filter="{ RentPrice: 'text'}">
                                   {{video.RentPrice}}
                                </td>
                                <td data-title="'Count'" filter="{ Count: 'text'}">
                                    {{video.Count}}
                                </td>
                                <td data-title="'Status'" filter="{ Status: 'text'}">
                                    {{video.Status}}
                                </td>

                                <td data-title="'AddedDate'" filter="{ AddedDate: 'text'}">
                                    {{video.AddedDate}}
                                </td>
                                <td data-title="'ModifiedDate'" filter="{ ModifiedDate: 'text'}">
                                    {{video.ModifiedDate}}
                                </td>
                            </tr>
                        </table>
                        <br />
                    </div>
                    <div class="widget-foot">
                        <button ng-click="vm.doSearch()">Search</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
